{% include base_path %}

<!-- start custom head snippets -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/assets/icon/apple-touch-icon.png"  color="#000000">
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/assets/icon/favicon-32x32.png"  color="#000000">
<link rel="icon" type="image/png" sizes="16x16" href="{{ base_path }}/assets/icon/favicon-16x16.png"  color="#000000">
<link rel="mask-icon" type="image/png" sizes="32x32" href="{{ base_path }}/assets/icon/favicon-32x32.png"  color="#000000">
<link rel="mask-icon" type="image/png" sizes="16x16" href="{{ base_path }}/assets/icon/favicon-16x16.png"  color="#000000">
<link rel="shortcut icon" href="{{ base_path }}/assets/icon/favicon.ico">
<link rel="manifest" href="{{ base_path }}/assets/icon/site.webmanifest">

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- <script defer>
  document.addEventListener("DOMContentLoaded", function() {
    // ** JavaScript to fetch and update view count **
    // Ref: https://github.com/kananinirav/page-views-counter/
    
    // 1. Bring the URL of the current page
    var currentPageUrl = window.location.href;

    // 2. Send a request to the view count API
    fetch("https://page-views-counter.netlify.app/page_view?page=" + encodeURIComponent(currentPageUrl), {
      method: "GET",
    })
      .then((response) => response.json())
      .then((data) => {
        var viewCount = data.data.view_count;
        // 3. Update the view count in the HTML
        const viewCountElement = document.getElementById("viewCountText");
        const currentPageUrlElement = document.getElementById("currentPageUrlText");
        if (viewCountElement) {
          viewCountElement.textContent = viewCount;
        }
        if (currentPageUrlElement) {
          currentPageUrlElement.textContent = currentPageUrl;
        }
      })
      .catch((error) => console.error("Error fetching view count:", error));
  });
</script> -->

<!-- end custom head snippets -->