---
layout: default
---

{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" %}
  {% assign pageUrl = site.url | remove_first: 'http://' | remove_first: 'https://' | append: page.url %}
  {% if site.breadcrumbs %}
    {% unless paginator %}
      {% include breadcrumbs.html %}
    {% endunless %}
  {% endif %}
{% endif %}


<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
          <!--{% if page.read_time %}
            <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
          {% endif %}-->
        {% if page.modified %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time></p>
        {% endif %}

        <!--Authors-->
        {% if page.authors %}
          <p>
            {% assign authorCount = page.authors | size %}
            {% if authorCount == 0 %}
              🫥 No author
            {% elsif authorCount == 1 %}
              👤
              {% assign author = site.data.authors[page.authors.first] %}
              {% if author %}
                <a href="{{ author.url }}">{{ author.name }}</a>
              {% else %}
                {{ authorid }}
              {% endif %}
            {% else %}
              👥
              {% for authorid in page.authors %}
                {% assign authorid_ = authorid %}
                {% assign authoridEnd = authorid | slice: -1, 1 %}
                {% assign authorStar = '' %}
                {% if authoridEnd == '*' %}
                    {% assign authorid_ = authorid | replace: '*', '' %}
                    {% assign authorStar = '*' %}
                  {% endif %}
                {% assign author = site.data.authors[authorid_] %}
                {% if forloop.last %}
                  {% if author %}
                    and <a href="{{ author.url }}">{{ author.name }}</a>{{ authorStar }}
                  {% else %}
                    and {{ authorid }}
                  {% endif %}
                {% else %}
                  {% if author %}<a href="{{ author.url }}">{{ author.name }}</a>{{ authorStar }}{% else %}{{ authorid }}{% endif %}{% if authorCount != 2 %},{% endif %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </p>
        {% endif%}
        
        <p>
          <!---Date-->
          {% if page.date %}
            🗓
            <time datetime="{{ page.date | default: "1900-01-01" | date_to_xmlschema }}"> {{ page.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time> 
          {% endif %}
          <!---Venue-->
          {% if page.venue %}
            &nbsp; &nbsp; 
            📰 {{ page.venue }}
          {% endif %}
          <!---URLs-->
          {% if page.paperurl or page.arxiv or page.code %}
            &nbsp; &nbsp; 
            🔗
          {% endif %}
          {% if page.paperurl %}
            [<a href="{{ page.paperurl }}"><u>paper</u></a>]
          {% endif %}
          {% if page.arxiv %}
            [<a href="{{ page.arxiv }}"><u>arxiv</u></a>]
          {% endif %}
          {% if page.code %}
            [<a href="https://github.com/{{ page.code }}"><u>code</u></a>]
            <a href="https://github.com/{{ page.code }}"><img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/{{ page.code }}" style="max-width: 100%;"></a>
          {% endif %}
          <!---Visitors-->
          {% if pageUrl %}
            &nbsp; &nbsp; 
            👀
            <a href="https://hits.sh/{{ pageUrl }}">
              <img
                alt="Hits"
                style="border: 0px; margin: 0px;"
                src="https://hits.sh/{{ pageUrl }}.svg?view=today-total&style=plastic&label=Views&color=407348&labelColor=0D0D0D"
              />
            </a>
          {% endif %}
          {% if page.doi %} <!-- https://juleskreuer.eu/projects/citation-badge -->
            &nbsp;
            <a href="https://doi.org/{{ page.doi }}">
              <img src="https://img.shields.io/endpoint?url=https%3A%2F%2Fapi.juleskreuer.eu%2Fcitation-badge.php%3Fshield%26doi%3D{{ page.doi }}&logo=google-scholar&label=Citations&labelColor=gray&color=blue" alt="Google Scholar Citations">
            </a>
          {% endif %}
        </p>

        {% if page.citation and page.paperurl %}
          <p>Citation: {{ page.citation }} <a href="{{ page.paperurl }}"><u>{{ page.paperurl }}</u></a></p>
        {% elsif page.citation %}
          <p>Citation: {{ page.citation }} </p>
        {% endif %}

        </header>
      {% endunless %}

      <!-- Tag and Category -->
      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
      </footer>
      
      <section class="page__content" itemprop="text">
        {% if page.toc %}
          <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
            <nav class="toc">
              <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i> {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this page" }}</h4></header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" skip_no_ids=true %}
            </nav>
          </aside>
        {% endif %}
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>
      
      {% if page.share %}{% include social-share.html %}{% endif %}

      {% include post_pagination.html %}
    </div>

    {% if site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when not disabled -->{% endcomment %}
  <!-- {% if page.id and page.related and site.related_posts.size > 0 %} -->
    <div class="page__related">
      {% if site.data.ui-text[site.locale].related_label %}
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
      {% endif %}
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  <!-- {% endif %} -->
</div>
